<h1>API Documentation :: Add New API Entry</h1>

<ul class="breadcrumb">
  <li><a href="/api-admin">AdminHome</a> <span class="divider">/</span></li>
  <li class="active">Add new entry</li>
</ul>

<form class="form-horizontal" method="post" action="/add">
	<div class="control-group">
		<label class="control-label" for="api_category">API </label>
		<div class="controls">
			<select name="api_category" id="api_category">
				<% apis.forEach( function( api ) { 
					var uc_api = api.name.toUpperCase();
				%>
					<option value="<%=api.name %>"><%=uc_api %></option>
				<% }); %>
			</select>
		</div>
	</div>

	<div class="control-group new-api-category">
		<label class="control-label" for="new_api_category">New API Category </label>
		<div class="controls">
			<input type="text" placeholder=" eg-: UserMgt" name="new_api_category" id="new_api_category" />
		</div>
	</div>

  	<div class="control-group">
  		<label class="control-label" for="api_title">Entry Title </label>
	  	<div class="controls">
			<input type="text" placeholder=" eg-: Create new user" name="api_title" id="api_title" />
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="api_url">Entry URL </label>
		<div class="controls">
			<input type="text" placeholder=" eg-: /user/create" name="api_url" id="api_url" />
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="api_method">Method </label>
		<div class="controls">
			<select name="api_method" id="api_method">
				<option value="GET">GET</option>
				<option value="POST">POST</option>
				<option value="PUT">PUT</option>
				<option value="DELETE">DELETE</option>
			</select>
		</div>
	</div>
	<!-- #################### Request params ###################### -->
    <legend class="clickable" data-toggle="collapse" data-target="#request_params">Request parameters</legend>
    <div id="request_params" class="collapse">
    	<button class="btn" id="add_req_param_btn">Add+</button>
		<div class="control-group request-param">
			<label class="control-label" for="api_param_name"></label>
			<div class="controls">
				<input type="text" placeholder="Parameter name" name="api_param_name" />
				<textarea style="width: 400px; height: 20px;" placeholder="Parameter description" name="api_param_value"></textarea>
			</div>
		</div>
	</div>
	<!-- ################### Response params ##################### -->

    <legend class="clickable" data-toggle="collapse" data-target="#response_params">Response parameters</legend>
    <div id="response_params" class="collapse">
    	<button class="btn" id="add_res_param_btn">Add+</button>
    	<div class="control-group response-param">
			<label class="control-label" for="api_response_param_name"></label>
			<div class="controls">
				<input type="text" placeholder="Parameter name" name="api_response_param_name" />
				<textarea style="width: 400px; height: 20px;" placeholder="Parameter description" name="api_response_param_value"></textarea>
			</div>
		</div>
    </div>
    <!-- ################### End of Response params ############## -->

    <!-- ################### HTML Editor ######################### -->
    
    <legend class="clickable" id="api_html_editor_btn" data-toggle="collapse" data-target="#api_html_editor">HTML Editor</legend>
    <div id="api_html_editor" class="collapse">
		<div class="control-group">
	    	<div class="controls">
	      		<textarea name="api_html_data" style="width: 810px; height: 200px;display:none;" class="api-textarea" placeholder="Enter text ..."></textarea>
	    	</div>
	  	</div>
	</div>
  	<!-- ################### End of HTML editor ################## -->
	<div class="control-group">
    	<div class="controls">
      		<button type="submit" class="btn">Submit</button>
    	</div>
  	</div>
</form>