<!DOCTYPE html>
<html>
  <head>
    <title>NodeJs API Documentation tool</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-wysihtml5.css' />
    <link rel='stylesheet' href='/stylesheets/wysiwyg-color.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/javascripts/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/wysihtml5-0.3.0.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap-wysihtml5.js"></script>  
  <script type="text/javascript">
  $(document).ready(function() {
      $('#api_intro').wysihtml5({
                html:true,
                color:true
      });
       
    $(document).on('click','#edit_api_intro_btn',function(e){

      $('#api-intro-form').toggle('slow');
          
    });

    var editor_created = false;
      $(document).on("click", "#api_html_editor_btn", function(){
          
          if(editor_created == false)
          { 
            $('.api-textarea').show().wysihtml5({
              html:true,
              color:true
            });
            editor_created = true;
          }
      });

      $(document).on('click', '#add_req_param_btn', function(){
           $('.request-param:first').clone().appendTo('#request_params');
           return false;
      });
      
      $(document).on('click', '#add_res_param_btn', function(){
           $('.response-param:first').clone().appendTo('#response_params');
           return false;
      }); 

      $("#api_category").change(function() {
          if($(this).val() == 'add')
          {
              $('.new-api-category').show('slow');
          }else{
              $('.new-api-category').hide();
          }
      }); 
  });
 
  </script>
  </head>
  <body>
    <%- body %>
  </body>

  <div id="footer" class="navbar-fixed-bottom">
      <div class="container">
        <p class="muted credit" style="font-size:11px;"> Powered by <a target='_blank' href="https://github.com/its4nuwan/apidoc">apidoc</a></p>
      </div>
  </div>
</html>