<!DOCTYPE html>
<html>
  <head>
    <title>NodeJs API Documentation tool</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/javascripts/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
  </head>
  <body>
    <%- body %>
  </body>
</html>